Repository ziontee113/kluster, changes with the labels that .github/labeler.yml gives for each.
All labels: device, driver, main, docs, ci

ref(driver): move test imports to test module
  src/driver/mod.rs
Labels: driver

chore(ci): fix CI Pipeline title typo
  .github/workflows/integration.yml
Labels: ci

feat(driver): add print_devices_method
  src/device/mod.rs
  src/driver/evdev/mod.rs
  src/driver/mod.rs
Labels: device, driver

feat(driver): default get_printable_devices
  src/driver/mod.rs
Labels: driver

feat(driver): modify Driver's print_devices
  src/driver/evdev/mod.rs
Labels: driver

fix(driver): use get_printable_devices instead
  src/driver/evdev/mod.rs
Labels: driver

feat(device): implement Display for Keyboard
  src/device/mod.rs
Labels: device

ref(driver): move test imports to test module
  src/device/mod.rs
  src/driver/mod.rs
Labels: device, driver

feat(tests): add mipoch function
  src/test_utilities/mod.rs
Labels: none

feat(collector): create primitive types
  src/event_collector/mod.rs
  src/main.rs
Labels: none

feat(collector): add Event trait & EventKind enum
  src/event_collector/mod.rs
Labels: none

feat(collector): receive events
  src/event_collector/mod.rs
  src/event_collector/test.rs
Labels: none

feat(collector): key state as KeyState enum
  src/event_collector/mod.rs
Labels: none

feat(collector): handle events outside interval
  src/event_collector/mod.rs
  src/event_collector/test.rs
Labels: none

ref(collector): use ke! macro for shorter tests
  src/event_collector/mod.rs
  src/event_collector/test.rs
  src/test_utilities/mod.rs
Labels: none

ref(collector): further shorten tests using event!
  src/event_collector/test.rs
Labels: none

ref(collector): rename Union to Cluster
  src/event_collector/mod.rs
  src/event_collector/test.rs
Labels: none

feat(test): add event! and check! macros
  src/event_collector/test.rs
Labels: none

ref(test): make ev! macro variable names clear
  src/event_collector/test.rs
Labels: none

ref(test): dynamic checkers for ev! macro
  src/event_collector/test.rs
Labels: none

ref(test): remove event! and check! macros
  src/event_collector/test.rs
Labels: none

ref(collector): decrease receive() nesting level
  src/event_collector/mod.rs
  src/event_collector/test.rs
Labels: none

ref(collector): extract to smaller functions
  src/event_collector/mod.rs
Labels: none

ref(collector): further extractions
  src/event_collector/mod.rs
Labels: none

ref(collector): event outside interval logic
  src/event_collector/mod.rs
Labels: none

ref(collector): rename "prefix" to "modifier"
  src/event_collector/mod.rs
  src/event_collector/test.rs
Labels: none

fix(collector): initiate collector module rewrite
  src/event_collector/mod.rs
  src/event_collector/test.rs
Labels: none

fix(collector): add Sequence struct
  src/event_collector/mod.rs
Labels: none

ref(test): completely change ev! macro
  src/event_collector/mod.rs
  src/event_collector/test.rs
  src/test_utilities/mod.rs
Labels: none

feat(test): add formed cluster members check
  src/event_collector/mod.rs
  src/event_collector/test.rs
Labels: none

...
  src/main.rs
Labels: none

.github/labeler.yml:

device:
  - src/device/*
  - src/device/**/*

driver:
  - src/driver/*
  - src/driver/**/*

main:
  - main.rs
  - ./*.rs

docs:
  - README.md

ci:
  - .github/*
  - .github/**/*
