Repository ziontee113/kluster, pull requests merged in 2022-12, with the labels that each got.

#2 feat(scaffolding): add project scaffolding
  .gitignore
  Cargo.toml
  README.md
  bacon.toml
  src/main.rs
Labels: enhancement

#7 ref(device): re-order structs
  src/device/mod.rs
Labels: enhancement

#12 feat(device,driver): implement getting devices
  Cargo.toml
  bacon.toml
  src/device/mod.rs
  src/driver/mod.rs
Labels: enhancement

#15 feat(ci): add ci pipeline setup
  .github/labeler.yml
  .github/workflows/integration.yml
Labels: enhancement, ci

#18 ref(driver): move test imports to test module
  src/driver/mod.rs
Labels: enhancement, driver

#23 feat(device): implement Display for Keyboard
  src/device/mod.rs
Labels: enhancement
